/* Estilos para el encabezado h1 */
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: lightgray; /* Fondo gris para todo el encabezado */
}


/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}


th{
    text-align: left;
}
/* Estilos para las celdas de verificación */
th[id="check"] {
    border-right: 2px solid black;
    padding-right: 10px;
}

th[id="imagen"]{
    display:flexbox;
    justify-content: center;

}

/* Estilos para el encabezado de provincia */
th[id="nombre"] {
    text-align: center;
    font-size: 40px;
}

th[id="descripcion"]{
    width: 300px;

}



/* Estilos para las filas de la tabla */
tr {
    border-bottom: 1px solid black;
}

/* Estilos para la columna de opciones */
.checkDerecha {
    width: 100px;
    background-color: lightsalmon;
}

/* Estilos para los checkbox */
input[type="checkbox"] {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para las imágenes */
img {
    height: 100px;
    width: 100px;
    border: solid black 20px;
}

/* Estilos para la lista de descripción */
.descripcion ul {
    list-style-type: disc;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descripcion li {
    margin: 0;
    padding: 0;
}



/* Estilos para el fondo de las provincias */
#salta {
    background-color: lightyellow;
}

#neuquen {
    background-color: lightgreen;
}

#mendoza {
    background-color: lightblue;
}

#formulario{
    text-align: center;

}

